app_pojavlauncher/.cxx/
/app_pojavlauncher/libs/ltw-release.aar
app_pojavlauncher/src/main/assets/components/jre
/app_pojavlauncher/src/main/assets/components/jre-21/
/app_pojavlauncher/src/main/assets/components/jre-new/
/*/build
/build
/curseforge_key.txt
/.gradle
.idea/
local.properties
.vs/
